ww# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
original-vanilla-game.js
@todo.md
/_data
components/ui/inventory/inventory-bar.jsx
public/textures/concrete-scratched.jpg
public/textures/glitch-texture.jpg
public/textures/metal-texture.jpg
public/textures/concrete-wall-texture.jpg
public/textures/stiff-paint.jpg
public/textures/grunge-frame.jpg
public/sprite-1-original.png
public/sprite-1.jpg
public/front-view-to-top.mp4
public/first-load.mp4
app/image-viewer/page.jsx
app/showroom/page.jsx
app/image-viewer/page.jsx
public/characters/gemini-paladin.png
public/characters/grumpy-man-model/Pbr/base_basic_pbr.glb
public/characters/grumpy-man/grumpy-man-front.png
public/characters/grumpy-man/grumpy-man-back.png
public/characters/grumpy-man/grumpy-man-side.png
public/characters/grumpy-man/Pbr/base_basic_pbr.glb
public/characters/gemini-old-woman.png
public/characters/gemini-man.png
public/characters/elderly-woman/Pbr/base_basic_pbr.glb
public/characters/elderly-woman-front.png
public/characters/seniora-holograma.png
public/characters/hologram-woman/Pbr/base_basic_pbr.glb
hooks/useGameLoader.js
public/characters/my-emoji-no-borders.png
public/cabin-transformed.glb
